/* edit-post.css */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Corpo da página */
body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}

/* Formulário de Edição */
form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}

input[type="text"],
textarea {
    width: calc(100% - 24px); /* Ajuste da largura para garantir alinhamento */
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; /* Garante que o padding seja incluído na largura total */
}

textarea {
    resize: vertical;
}

button.button {
    padding: 12px 20px;
    background-color: #007bff; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

button.button:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}

/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #888;
}
