/* index-post.css */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Corpo da página */
body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}

/* Cabeçalho */
header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2rem;
    text-align: center; /* Centraliza o texto dentro do h1 */
    margin-bottom: 0; /* Remove margem inferior para ajustar a centralização */
}

/* Lista de Posts */
.post-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.post h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.post-content {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

/* Atualizando os botões com os estilos do app.css */
.post-button {
    display: inline-block;
    margin-top: 10px;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.post-button:hover {
    background-color: #0056b3;
}

/* Botão de criar novo post */
.button {
    display: inline-block;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 0.9rem;
}
